<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0*1=<input type='text' name=0 value=0 size="4"></td>
      <td></td>
      <td>4/1=<input type='text' name=9 value=9 size="4"></td>
      <td></td>
      <td>0*5=<input type='text' name=18 value=18 size="4"></td>
      <td></td>
      <td>3*2=<input type='text' name=27 value=27 size="4"></td>
      <td></td>
      <td>1*0=<input type='text' name=36 value=36 size="4"></td>
    </tr>
    <tr>
      <th>1</th>
      <td>0*4=<input type='text' name=1 value=1 size="4"></td>
      <td></td>
      <td>5*1=<input type='text' name=10 value=10 size="4"></td>
      <td></td>
      <td>3*0=<input type='text' name=19 value=19 size="4"></td>
      <td></td>
      <td>0*2=<input type='text' name=28 value=28 size="4"></td>
      <td></td>
      <td>2*1=<input type='text' name=37 value=37 size="4"></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5*0=<input type='text' name=2 value=2 size="4"></td>
      <td></td>
      <td>4*0=<input type='text' name=11 value=11 size="4"></td>
      <td></td>
      <td>4*2=<input type='text' name=20 value=20 size="4"></td>
      <td></td>
      <td>4*1=<input type='text' name=29 value=29 size="4"></td>
      <td></td>
      <td>1*4=<input type='text' name=38 value=38 size="4"></td>
    </tr>
    <tr>
      <th>3</th>
      <td>3*3=<input type='text' name=3 value=3 size="4"></td>
      <td></td>
      <td>0*3=<input type='text' name=12 value=12 size="4"></td>
      <td></td>
      <td>4*3=<input type='text' name=21 value=21 size="4"></td>
      <td></td>
      <td>5/1=<input type='text' name=30 value=30 size="4"></td>
      <td></td>
      <td>4/2=<input type='text' name=39 value=39 size="4"></td>
    </tr>
    <tr>
      <th>4</th>
      <td>2*3=<input type='text' name=4 value=4 size="4"></td>
      <td></td>
      <td>3/1=<input type='text' name=13 value=13 size="4"></td>
      <td></td>
      <td>3*5=<input type='text' name=22 value=22 size="4"></td>
      <td></td>
      <td>1*5=<input type='text' name=31 value=31 size="4"></td>
      <td></td>
      <td>1*3=<input type='text' name=40 value=40 size="4"></td>
    </tr>
    <tr>
      <th>5</th>
      <td>4*5=<input type='text' name=5 value=5 size="4"></td>
      <td></td>
      <td>5*5=<input type='text' name=14 value=14 size="4"></td>
      <td></td>
      <td>2*5=<input type='text' name=23 value=23 size="4"></td>
      <td></td>
      <td>0*0=<input type='text' name=32 value=32 size="4"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>5*2=<input type='text' name=6 value=6 size="4"></td>
      <td></td>
      <td>3*1=<input type='text' name=15 value=15 size="4"></td>
      <td></td>
      <td>5*3=<input type='text' name=24 value=24 size="4"></td>
      <td></td>
      <td>1*2=<input type='text' name=33 value=33 size="4"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>1*1=<input type='text' name=7 value=7 size="4"></td>
      <td></td>
      <td>3*4=<input type='text' name=16 value=16 size="4"></td>
      <td></td>
      <td>2*4=<input type='text' name=25 value=25 size="4"></td>
      <td></td>
      <td>2/1=<input type='text' name=34 value=34 size="4"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>2*2=<input type='text' name=8 value=8 size="4"></td>
      <td></td>
      <td>2*0=<input type='text' name=17 value=17 size="4"></td>
      <td></td>
      <td>5*4=<input type='text' name=26 value=26 size="4"></td>
      <td></td>
      <td>4*4=<input type='text' name=35 value=35 size="4"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>